* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
#section1 {
    border-radius: 10px;
    min-width: 50%;
    flex: 1 1 50%;
    align-self: center;
    box-shadow: 0 0 10px #fff;
    background-color:#000;
    display: flex; 
    flex-direction: column;
}
#s1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#input-user{
    width: 65%;
    flex-grow: 2;
}
table {
    margin-bottom: 0px !important;
}
table tr td,table tr th {
    text-align: center;
    vertical-align: middle;
}
table tr td:last-child span,table tr td:nth-child(3) span {
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    padding: 4px;
    border-radius: 10px;
    color: #fff;
    transition: color,background-color 0.6s,0.6s;
}
table tr td:last-child span {
    background-color: red;
}
table tr td:nth-child(3) span{
    background-color: rgb(17, 37, 221);
}
table tr td:last-child span:hover {
    background-color: #fff;
    color: red;
}
table tr td:nth-child(3) span:hover {
    background-color: #fff;
    color: rgb(17, 37, 221);
}
table tbody ,table td,table tfoot,table th,table thead,table tr {
    border-style:none;
}
.hide_ele {
    display: none;
}

footer {
    color: #fff;
    align-self: center;
    text-align: center;
    user-select: none;
    /* text-shadow: 0 0 2px #000; */
}

@media screen and (max-width:1324px) {
    #section1 {
        width: 70%;
    }
}

@media screen and (max-width:946px) {
    #section1 {
        width: 80%;
    }
}
@media screen and (max-width:829px) {
    #section1 {
        width: 90%;
    }
}
@media screen and (max-width:736px) {
    #section1 {
        width: 95%;
    }
}